<%- include partials/header.ejs %>

    <div class=" panel panel-info">
    <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Cecelia is the wonderful mother of Kyle and Connor, and wife to The Chosen One. She is a payroll specialist at the York Catholic District School Board. When Cecelia is not working, she is usually watching crime shows and reading romance novels at the same time.</p>
    </div>
  </body>
</html>
