<%- include partials/header.ejs %>

    <div class=" panel panel-info">
    <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Connor is the latter of Tom and Cecelia's offspring. He is an aspiring musician and web designer and currently plays bass in the Barrie-based Alternative Rock band, MAPS. Connor is also enrolled in the IWDD program at Georgian College. His favourite pastime is watching bands perform live.</p>
 </div>
  </body>
</html>
