<%- include partials/header.ejs %>

    <div class=" panel panel-info">
    <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Kyle is Connor's older brother. Currently working on his Masters degree in History, Kyle spends his time studying at Nippissing University, and watching sports. His main hobby is blogging his endless river of sports knowledge on his website, KDandy Sports Report.</p>
  </div>
  </body>
</html>
