<%- include partials/header.ejs %>

    <div class=" panel panel-info">
    <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">The father of Connor and Kyle, and husband of Cecelia. Aside from his second life in the Matrix as Neo, the Chosen One, Tom Anderson leads an interesting and eventful life. He enjoys riding his Honda Goldwing, and cruising in his supercharged Mazda MX-5.</p>
  </div>
  </body>
</html>
